$bgBody: #E5E5E5;
$bgWhiteColor: rgba(255, 255, 255, 1);
$bgFooterContent: rgba(242, 242, 242, 1);

$bglighterRed: rgba(229, 38, 30, 1);
$bgDarkRed: rgba(204, 34, 27, 1);
$bgColotTitle: rgba(51, 51, 51, 1);



@mixin adaptive($device) { //не делал, так как карусели рукописные

  @if ($device == smartfon) {
    @media (max-width: 450px) {
      @content;
    }
  } @else if ($device == iPads) {
    @media (max-width: 660px) {
      @content;
    }
  } @else if ($device == tablet) {
    @media (max-width: 890px) {
      @content;
    }
  } @else if ($device == notebook) {
    @media (max-width: 1135px) {
      @content;
    }
  }
}