@import "../../styles/mixin.scss";

.TV {
  margin: 0 auto;
  max-width: 1118px;
  background: $bgWhiteColor;
  padding-bottom: 90px;
  height: 69vh;
  overflow: auto;
}

.tv__print-channels {
  min-height: 162px;
  background: $bgFooterContent;
  display: flex;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
}

.tv__leftCol {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv__title {
  font-family: 'Rubik-Medium';
  font-size: 20px;
}

.tv__time-programs {
  margin: 8px 0;
}


//--scroll-bar---
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 500px;
  //height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(242, 242, 242, 1);
  
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(189, 189, 189, 1);
  border-radius: 2px;
}
//--The end --scroll-bar---